vendor
node_modules
public/imagen_5s
.phpunit.result.cache
docker-compose.override.yml
public/imagen_productos/
public/pedidoespecial/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode
.env

public/facturas
public/imagen_resguardo
public/archivos/miSalud
imagen
public/excel
public/facturas
public/imagen_5s
public/imagen_productos
public/img/blog
public/img/business
public/img/clients
public/img/portfolio
public/img/showcase
public/img/team
public/img/testimonial
public/img/testimonials
public/pedidoespecial
